@import "tailwindcss";
@import "@nuxt/ui";
@tailwind utilities;

@config "../../tailwind.config.js";

@font-face {
  font-family: 'light';
  src: url('/fonts/Inter-Cyrillic-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'regular';
  src: url('/fonts/Inter-Cyrillic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'medium';
  src: url('/fonts/Inter-Cyrillic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bold';
  src: url('/fonts/Inter-Cyrillic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'extra';
  src: url('/fonts/Inter-Cyrillic-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: var(--ui-color-neutral-700);
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: var(--color-white);

  --ui-bg: var(--color-white);
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);

  --ui-border: var(--ui-color-neutral-200);
  --ui-border-muted: var(--ui-color-neutral-200);
  --ui-border-accented: var(--ui-color-neutral-300);
  --ui-border-inverted: var(--ui-color-neutral-900);
}
.dark {
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: var(--color-white);
  --ui-text-inverted: var(--ui-color-neutral-900);

  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-bg-accented: var(--ui-color-neutral-700);
  --ui-bg-inverted: var(--color-white);

  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-700);
  --ui-border-accented: var(--ui-color-neutral-700);
  --ui-border-inverted: var(--color-white);
}

*::-webkit-scrollbar {
  display: none;
}
@layer base {
  .body_layout {
    @apply flex flex-col justify-center items-center gap-4 max-w-sm sm:max-w-md mx-auto;
  }
  .body_content {
    @apply relative flex flex-col gap-2 bg-white dark:bg-gray-700 p-2 rounded-xl w-full mt-10 pt-10;
  }
  .main_title {
    @apply text-center text-lg font-bold text-black dark:text-white;
  }
  .body_head {
    @apply absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 p-2 rounded-full bg-white dark:bg-gray-700;
  }
  .body_head img {
    @apply w-16 h-16;
  }
  .section {
    @apply relative w-full max-w-sm sm:max-w-md mx-auto px-4 xs:px-6;
  }
}